name: Email Step Action

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 23f2001389@ds.study.iitm.ac.in
        run: echo "Hello from GitHub Actions"
